#edit-window {
  height: 400px;
  overflow: auto;
}

.word-select {
  height: 400px;
  overflow: auto;
  margin-bottom: 10px;
  line-height: 1.8;
  span {
    &:hover {
      color: $light-blue;
      text-decoration: underline;
      cursor: pointer;
    }
    &::after {
      content: ' ';
    }
  }
  .active {
    color: black;
    font-weight: 800;
    font-size: 18px;
  }
}

.syn-display {
  .label {
    margin-right: 3px;
    margin-bottom: 2px;
    display: inline-block;
    &:hover {
      background-color: rgb(19, 155, 241);
      transition: 0.5s;
      cursor: pointer;
    }
  }
}
