.mar-0 { margin: 0; }
.mar-t-sm { margin-top: 20px; }
.mar-t-lg { margin-top: 60px; }
.disp-inb { display: inline-block; }
.hide { display: none; }

#dino {
  position: absolute;
  width: 200px;
  top: 200px;
  left: 550px;
}

#synonyms h4,
#synonyms h5 {
  font-weight: 600;
}

#jumbo {
  background-image: url('/imgs/bg1.jpg');
  background-size: 100%;
  padding: 175px;
  margin-top: -52px;
}

@media screen and (max-width: 700px) {
  #jumbo {
    background-size: auto 100%;
    background-position: center;
    padding-left: 30px;
    padding-right: 30px;
  }
}

#jumbo h1 {
  font-family: "roboto slab";
  color: white;
}

#jumbo p {
  color: white;
  opacity: 0.5;
  font-family: "roboto slab";
}

.rw-words {
    display: inline;
    text-indent: 10px;
}
.rw-words-1 span {
    text-align: center;
    position: absolute;
    opacity: 0;
    -webkit-animation: rotateWord 18s linear infinite 0s;
    -ms-animation: rotateWord 18s linear infinite 0s;
    animation: rotateWord 18s linear infinite 0s;
}
.rw-words-1 span:nth-child(2) {
    -webkit-animation-delay: 3s;
    -ms-animation-delay: 3s;
    animation-delay: 3s;
}
.rw-words-1 span:nth-child(3) {
    -webkit-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
}
.rw-words-1 span:nth-child(4) {
    -webkit-animation-delay: 9s;
    -ms-animation-delay: 9s;
    animation-delay: 9s;
}
.rw-words-1 span:nth-child(5) {
    -webkit-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
}
.rw-words-1 span:nth-child(6) {
    -webkit-animation-delay: 15s;
    -ms-animation-delay: 15s;
    animation-delay: 15s;
}
@-webkit-keyframes rotateWord {
  0% { opacity: 0; }
  2% { opacity: 0;
      -webkit-transform: translateY(-30px); }
  5% { opacity: 1;
      -webkit-transform: translateY(0px); }
  17% { opacity: 1;
      -webkit-transform: translateY(0px); }
  20% { opacity: 0;
      -webkit-transform: translateY(30px); }
  80% { opacity: 0; }
  100% { opacity: 0; } }@-ms-keyframes rotateWord { 0% { opacity: 0; }
  2% { opacity: 0;
      -ms-transform: translateY(-30px); }
  5% { opacity: 1;
      -ms-transform: translateY(0px); }
  17% { opacity: 1;
      -ms-transform: translateY(0px); }
  20% { opacity: 0;
      -ms-transform: translateY(30px); }
  80% { opacity: 0; }
  100% { opacity: 0; } }@keyframes rotateWord { 0% { opacity: 0; }
  2% { opacity: 0;
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px); }
  5% { opacity: 1;
      -webkit-transform: translateY(0px);
      transform: translateY(0px); }
  17% { opacity: 1;
      -webkit-transform: translateY(0px);
      transform: translateY(0px); }
  20% { opacity: 0;
      -webkit-transform: translateY(30px);
      transform: translateY(30px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}

#gif { margin-left: auto; margin-right: auto; }
.jumbotron { margin-bottom: 0px; }

.word-scroll {
  background-color: #ddd;
  width: 100%;
  h3 {
    line-height: 170%;
    width: 810px;
    margin: 0 auto;
    padding: 50px;
  }
}

@media screen and (max-width: 810px) {
  .word-scroll h3 { width: 650px; }
}
@media screen and (max-width: 650px) {
  .word-scroll h3 { width: 550px; }
}
@media screen and (max-width: 550px) {
  .word-scroll h3 {
    padding-left: 20px;
    padding-right: 20px;
    width: 400px;
  }
}