.ng-enter {
  transition: 0.75s;
  opacity: 0;
}

.ng-enter-active {
  opacity: 1;
}

.hide {
  transition: 0.75s;
  opacity: 1;
}

.hide.ng-hide {
  opacity: 0;
  transition: 0.75s;
}

.hide.ng-show {
  opacity: 1;
}