$red: #B94A48;
$light-blue: #3399F3;

@import "https://fonts.googleapis.com/css?family=Roboto+Slab";

@import "bootstrap";
@import "animate";
@import "ng-animate";
@import "sign-form";
@import "alert";
@import "home";
@import "editor";
@import "loading";
@import "profile";
@import "file-upload";

body {
  padding-bottom: 80px;
}

a, .pointer {
  cursor: pointer;
}

.red {
  color: $red;
}

.navbar-inverse .navbar-nav > .active > a {
  background: linear-gradient(#101923, #38587a);
}

.navbar-default .navbar-nav > .active > a {
  background: linear-gradient(#bfbfbf, #e6e6e6);
}

.well h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.alert-spacer {
  height: 50px;
}

.nav-tabs {
  margin-bottom: 20px;
}
