<div class="container">

  <div class="alert-spacer"></div>

  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" ng-class="{ active: ctrl.edit }">
      <a href ng-click="ctrl.edit = true" role="tab" data-toggle="tab">Editor</a>
    </li>
    <li role="presentation" ng-class="{ active: !ctrl.edit }">
      <a href ng-click="ctrl.edit = false" role="tab" data-toggle="tab">Thesaurus</a>
    </li>
  </ul>

  <div ng-show="ctrl.edit" class="editor">
    <div class="form-group">
      <textarea ng-model="ctrl.doc.body" class="form-control" placeholder="start writing..."
                ng-class="{ loading: ctrl.loading }" id="edit-window">

      </textarea>
    </div>
  </div>

  <div ng-hide="ctrl.edit" class="thesaurus">
    <section class="word-select">
      <span ng-repeat="word in ctrl.doc.body.split(ctrl.space) track by $index"
            ng-click="ctrl.setActive(word, $index)"
            ng-class="{ active: ctrl.activeIndex === $index }">
        {{ word }}
      </span>
    </section>
    <div class="row syn-display">
      <div class="col-md-4 col-sm-6" ng-repeat="(part, data) in ctrl.syns">
        <section class="well">
          <h3>{{part}}</h3>
          <article>
            <span class="label label-default" ng-repeat="syn in (data.syn || data.sim)" ng-click="ctrl.replaceActive(syn)">{{ syn }}</span>
          </article>
        </section>
      </div>
    </div>
  </div>

  <button class="btn btn-primary" ng-click="ctrl.save()">Save</button>

</div>
