<div class="container">

  <div class="alert-spacer">
    <h3>{{ ctrl.doc.title }}</h3>
  </div>

  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" ng-class="{ active: ctrl.tab === 'edit' }">
      <a href ng-click="ctrl.tab = 'edit'" role="tab" data-toggle="tab">Editor</a>
    </li>
    <li role="presentation" ng-class="{ active: ctrl.tab === 'thesaurus' }">
      <a href ng-click="ctrl.tab = 'thesaurus'" role="tab" data-toggle="tab">Thesaurus</a>
    </li>
    <li role="presentation" ng-class="{ active: ctrl.tab === 'recognize' }">
      <a href ng-click="ctrl.tab = 'recognize'" role="tab" data-toggle="tab">Image to Text</a>
    </li>
  </ul>

  <div ng-show="ctrl.tab === 'edit'" class="editor">
    <div class="form-group">
      <textarea ng-model="ctrl.doc.body" class="form-control" placeholder="start writing..."
                ng-class="{ loading: ctrl.loading }" id="edit-window">

      </textarea>
    </div>
  </div>

  <div ng-show="ctrl.tab === 'thesaurus'" class="thesaurus">
    <section class="word-select">
      <span ng-repeat="word in ctrl.doc.body.split(ctrl.space) track by $index"
            ng-click="ctrl.setActive(word, $index)"
            ng-class="{ active: ctrl.activeIndex === $index }">
        {{ word }}
      </span>
    </section>
    <div class="row syn-display">
      <div class="col-md-4 col-sm-6" ng-repeat="(part, data) in ctrl.syns">
        <section class="well">
          <h3>{{part}}</h3>
          <article>
            <span class="label label-default" ng-repeat="syn in (data.syn || data.sim)" ng-click="ctrl.replaceActive(syn)">{{ syn }}</span>
          </article>
        </section>
      </div>
    </div>
  </div>

  <div ng-show="ctrl.tab === 'recognize'">
    <image-text></image-text>
  </div>

  <div ng-show="ctrl.bars"> 
    <div class="progress image-progress">
      <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: {{ ctrl.api }}%">
        <span class="sr-only">{{ctrl.api}}% Complete</span>
      </div>
    </div>
    <div class="progress image-progress">
      <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" style="width: {{ ctrl.text }}%">
        <span class="sr-only">{{ctrl.text}}% Complete</span>
      </div>
    </div>
  </div>

  <button class="btn btn-info" ng-click="ctrl.save()" ng-hide="ctrl.tab === 'recognize'">Save</button>

</div>
