<section class="jumbotron" id="jumbo">
  <h1>Wordasaurus</h1>
  <p>Splice new words into your writing with a few clicks.</p>
  <img src="/imgs/wordasaurus.png" id="dino" class="hidden-xs">
</section>


<section class="word-scroll">
  <h3 class="header-text">Need help
    <div class="rw-words rw-words-1">
      <span>improving</span>
      <span>developing</span>
      <span>bettering</span>
      <span>revamping</span>
      <span>boosting</span>
      <span>enhancing</span>
    </div>
    <div class="disp-inb place" style="width: 140px;"></div>
    your writing? Upload your
    <div class="rw-words rw-words-1">
      <span>&nbspwork</span>
      <span>essay</span>
      <span>piece</span>
      <span>article</span>
      <span>paper</span>
      <span>report</span>
    </div>
    <div class="disp-inb place" style="width: 90px;"></div>
    and click the words to get instant suggestions that you can
    <div class="rw-words rw-words-1">
      <span>insert</span>
      <span>splice</span>
      <span>inject</span>
      <span>embed</span>
      <span>enter</span>
      <span>place</span>
    </div>
    <div class="disp-inb place" style="width: 90px;"></div>
    into the text!
  </h3>
</section>

<div class="container">
  <img src="/imgs/demo.gif" id="gif"class="img-responsive mar-t-lg">
  <div class="mar-t-lg" ng-hide="ctrl.getUser()">
    <center>
      <a ui-sref="sign.up" class="btn btn-lg btn-primary">Sign Up!</a>
    </center>
  </div>
</div>

