<nav class="navbar navbar-default" ng-controller="NavController as ctrl">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#sref-list" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="home">Wordasaurus</a>
    </div>


    <div class="navbar-collapse collapse" id="sref-list"
         aria-expanded="false">

      <ul class="nav navbar-nav navbar-right">
        <li ui-sref-active="active"><a ui-sref="home">Home</a></li>
        <li ui-sref-active="active" ng-hide="ctrl.getUser()"><a ui-sref="sign">Login</a></li>
        <li ng-show="ctrl.getUser()" ui-sref-active="active"><a ui-sref="profile">Profile</a></li>
        <li ng-show="ctrl.getUser()"><a ng-click="ctrl.logOut()">Logout</a></li>
      </ul>

    </div>
  </div>
</nav>
