<div class="doc-card" ng-class="{ 'col-lg-2 col-md-3 col-sm-4 col-xs-6 not-edit': !cardCtrl.edit, 'col-lg-6 col-md-8 col-xs-12 edit': cardCtrl.edit }">
  <div class="panel panel-new">

    <div ng-hide="cardCtrl.edit">
      <div class="panel-heading">
        <h5>New Document</h5>
      </div>
      <div class="panel-body" ng-click="cardCtrl.edit = true">
        <span class="glyphicon glyphicon-plus"></span> 
      </div>
    </div>

    <div ng-show="cardCtrl.edit">
      <div class="panel-heading pointer" ng-click="cardCtrl.edit = false">
        <h5 class="red"><span class="glyphicon glyphicon-remove"></span> Cancel</h5>
      </div>
      <div class="panel-body">
        <form class="form-horizontal" ng-submit="cardCtrl.submit()">

          <div class="form-group">
            <label class="col-md-3 control-label" for="title">New Title</label>  
            <div class="col-md-6">
              <input id="title" name="title" type="text" class="form-control input-md" required="" ng-model="cardCtrl.title">
            </div>
            <div class="col-md-3">
              <button class="btn btn-success">Create</button>
            </div>
          </div>

        </form>
      </div>
    </div>

  </div>
  
</div>